img {
    max-width: 90%;
  }

  .container {
    text-align: center;
    display: flex; 
    max-width: 635px;
    max-height: 433px;
}

.item {
    text-align: center;
    flex: 1px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.504);
}

.page_title { /* title to every page in main (example; SHOP, CART etc)*/
    color: white;
}
@media(max-width: 600px){
    .container{
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }

  @media(max-width: 600px){
    .container{
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }